<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Documentation - ShopFox</title>
    <script src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body>
    <rapi-doc
      spec-url="/api/public-docs-json"
      theme="dark"
      render-style="read"
      show-header="false"
      allow-authentication="true"
      allow-server-selection="true"
    ></rapi-doc>
  </body>
</html>
